_site/
.sass-cache/



# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
.LSOverride

# Misc
assets/js/dist
.DS_Store
.AppleDouble
*.bak
_sass/dist
in_progress