<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Maker Medic Manufacturing</h2>
                <hr class="light">
                <p class="text-faded">After several years of hobby 3D printing and design, Maker Medic Manufacturing was founded in 2024.
                    Owned and operated by a full time flight paramedic with close to 10 years in emergency medical services, ranging from 911 ground transport to critical care and flight medicine, 
                    and a background in mechanical engineering.
                    <br>
                    <br>
                    Anyone in the field, including myself, has experienced the frustrations of misplacing a syringe, breaking a medication vial, or not being able to find what you need when you need it.
                    The aim of Maker Medic Manufacturing is to create things that add a little flair and make working in the EMS or healthcare setting a little easier.
                    <br><br>
                    As we've grown, our offerings have expanded to include decorative items, print on demand services, and custom designs not limited to EMS or healthcare.   
                </p>
            </div>
        </div>
    </div>
</section>
