<header>
    <div class="header-content">  
        <div class="header-content-inner">
            <h1>Custom & Ready to Print 3D Models</h1>
            <hr>
            <p>Flight medic owned and operated. A custom 3D printing and design service. We have ready to print products for transport medicine, critical care, and related fields. We also offer custom 3D design and print on demand services.</p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Us!</a>
        </div>
    </div>
</header>
