<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.etsy.com/listing/1844620814/" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tape Towers
                            </div>
                            <div class="project-name">
                                Add the Star of Life or any custom logo.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/cc-air7.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Custom Order & Print
                            </div>
                            <div class="project-name">
                                A custom order of helicopter silhouettes.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.etsy.com/listing/1842653142/" class="portfolio-box">
                    <img src="img/portfolio/3-10-10-3-snaps.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Syringe Snaps
                            </div>
                            <div class="project-name">
                                3, 10, 10, 3 mL Syringe Snap Holder
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.etsy.com/listing/1802861606/" class="portfolio-box">
                    <img src="img/portfolio/RBF-Real.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Keychains & Tags
                            </div>
                            <div class="project-name">
                                100% Customizable "Remove Before Flight" Keychain
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.etsy.com/listing/1858820993/" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tape Towers
                            </div>
                            <div class="project-name">
                                Add any name or custom text inlay.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/Tape_Tamer_Lite_Render.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Custom Model
                            </div>
                            <div class="project-name">
                                Request for a custom model and 3D files
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
