<section class="bg-dark" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cubes wow bounceIn text-primary"></i>
                    <h3>Ready to Print Designs</h3>
                    <p class="text-muted">We have a selection of ready to print products in a variety of colors.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Modifications</h3>
                    <p class="text-muted">See something you like but need a change? We can modify any of our existing designs to suit your needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Custom Work</h3>
                    <p class="text-muted">Have an idea? We can bring it to life with custom design and printing services.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-print wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Print on Demand</h3>
                    <p class="text-muted">Have a model but need a 3D printer? We can help with our print on demand service.</p>
                </div>
            </div>
        </div>
    </div>
</section>
